.buy4 {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 2rem;
    padding-left: 3%;
    padding-right: 3%;
    gap: 1rem;

    .Success {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap:1rem;
        &__Message {
            display: flex;
            flex-direction: row;
            width: 100%;
            background-color: #FBFAF5;
            border-style: solid;
            border-radius: 5px;
            align-items: center;
            border-color: #3D341A;
            border-width: 2px;
            padding: 1.5rem;

            & img {
                max-width: 30px;
            }
        }

        &__PaymentInfo {
            display: flex;
            flex-direction: row;
            width: 100%;
            gap:2rem;

            &__Column {
                display: flex;
                flex-direction: column;
                width: 20%;

                &__Master {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                  
                }
            }
        }


    }
    .BuyOverviewContainer {
        row-gap: 1rem;
        width: 40%;
        background-color: #F4F4F4;
        display: flex;
        flex-direction: column;
        align-self: center;
        margin-top: 1rem;

        &__Info {
            margin-top: 1rem;
            width: 100%;
            display: flex;
            flex-direction: row;

            &__Poster {
                width: 10%;
                display: flex;
                flex-direction: row;

                & figure {
                    width: 100%;

                    & img {
                        width: 100%;
                    }
                }
            }

            &__Data {
                width: 90%;
                display: flex;
                margin-left: 1rem;
                flex-direction: column;
                row-gap: 0.5rem;

                &__Row {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }
                &__Row2 {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }
            }

        }

        &__Total {
            margin-top: 1rem;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }
}